<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.PlatformMapper">
    <select id="selectPlatformPage" resultType="Platform">
        select * from `platform`
    </select>
    <select id="selectPlatformPageByID" resultType="Platform">
        select * from `platform`
        <where>
            id=#{id}
        </where>
    </select>
    <select id="selectAllPlatforms" resultType="Platform">
        select * from `platform`
    </select>
    <select id="selectPlatformPageByName" resultType="Platform">
        select * from `platform`
        <where>
            name=#{name}
        </where>
    </select>
</mapper>
