<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.ShelfItemMapper">
    <select id="selectShelfItemPage" resultType="ShelfItem">
        select * from `shelf-item`
    </select>
    <select id="selectShelfItemPageByKeyword" resultType="ShelfItem">
        select * from `shelf-item`
        <where>
            <if test="keyword !=null and keyword !='' ">
               or `name` like CONCAT('%',#{keyword},'%')
            </if>
        </where>
    </select>
    <select id="selectShelfItemPageByMerchantID" resultType="ShelfItem">
        select * from `shelf-item`
        <where>
            merchant_id = #{merchant_id}
        </where>
    </select>
</mapper>
