<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.ShelfItemMapper">
    <select id="selectShelfItemPage" resultType="ShelfItem">
        select * from `shelf-item`
    </select>
    <select id="selectShelfItemPageByKeyword" resultType="ShelfItem">
        select * from `shelf-item`
        <where>
            <if test="keyword !=null and keyword !='' ">
               or `name` like CONCAT('%',#{keyword},'%')
            </if>
        </where>
    </select>
    <select id="selectShelfItemPageByMerchantID" resultType="ShelfItem">
        select * from `shelf-item`
        <where>
            merchant_id = #{merchant_id}
        </where>
    </select>

    <resultMap id="ShelfItemResultMap" type="ShelfItem">
        <id property="id" column="id"/>
        <result property="item_id" column="item_id"/>
        <result property="merchant_id" column="merchant_id"/>
        <result property="platform_id" column="platform_id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="origin" column="origin"/>
        <result property="production_date" column="production_date"/>
        <association property="platform" column="platform_id" javaType="Platform">
            <id property="id" column="id"/>
            <result property="name" column="platform_name"/>
        </association>
        <association property="merchant" column="merchant_id" javaType="Merchant">
            <id property="id" column="id"/>
            <result property="name" column="merchant_name"/>
            <result property="address" column="merchant_address"/>
        </association>
        <association property="item" column="item_id" javaType="Item">
        <id property="id" column="id"/>
        <result property="name" column="item_name"/>
        <result property="category" column="item_category"/>
    </association>
    </resultMap>
    <select id="selectShelfItemsAll" resultMap="ShelfItemResultMap">
        SELECT
        shelf_item.*,
        item.name AS item_name,
        item.category AS item_category,
        platform.name AS platform_name,
        merchant.name AS merchant_name,
        merchant.address AS merchant_address
        FROM `shelf-item` AS shelf_item
        INNER JOIN platform ON shelf_item.platform_id = platform.id
        INNER JOIN merchant ON shelf_item.merchant_id = merchant.id
        INNER JOIN item ON shelf_item.item_id = item.id
    </select>

    <select id="selectShelfItemInfoByKeyword" resultMap="ShelfItemResultMap">
        SELECT
        shelf_item.*,
        item.name AS item_name,
        item.category AS item_category,
        platform.name AS platform_name,
        merchant.name AS merchant_name,
        merchant.address AS merchant_address
        FROM `shelf-item` AS shelf_item
        INNER JOIN platform ON shelf_item.platform_id = platform.id
        INNER JOIN merchant ON shelf_item.merchant_id = merchant.id
        INNER JOIN item ON shelf_item.item_id = item.id
        <where>
            <if test="keyword != null and keyword != ''">
                AND shelf_item.`name` LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    </select>

    <select id="selectShelfItemInfoByID" resultMap="ShelfItemResultMap">
        SELECT
        shelf_item.*,
        item.name AS item_name,
        item.category AS item_category,
        platform.name AS platform_name,
        merchant.name AS merchant_name,
        merchant.address AS merchant_address
        FROM `shelf-item` AS shelf_item
        INNER JOIN platform ON shelf_item.platform_id = platform.id
        INNER JOIN merchant ON shelf_item.merchant_id = merchant.id
        INNER JOIN item ON shelf_item.item_id = item.id
        <where>
            shelf_item.id = #{id}
        </where>
    </select>
    <select id="selectShelfItemInfoByMerchantID" resultMap="ShelfItemResultMap">
        SELECT
        shelf_item.*,
        item.name AS item_name,
        item.category AS item_category,
        platform.name AS platform_name,
        merchant.name AS merchant_name,
        merchant.address AS merchant_address
        FROM `shelf-item` AS shelf_item
        INNER JOIN platform ON shelf_item.platform_id = platform.id
        INNER JOIN merchant ON shelf_item.merchant_id = merchant.id
        INNER JOIN item ON shelf_item.item_id = item.id
        <where>
            shelf_item.merchant_id = #{id}
        </where>
    </select>

    <select id="countShelfItems" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM `shelf-item`;
    </select>

    <insert id="insertShelfItem" parameterType="com.example.backend.entity.ShelfItem">
        INSERT INTO `shelf-item` (item_id, merchant_id, platform_id, name, description, origin, production_date)
        VALUES (#{item_id}, #{merchant_id}, #{platform_id}, #{name}, #{description}, #{origin}, #{production_date})
        ON DUPLICATE KEY UPDATE id = id;
    </insert>
</mapper>
